 # Python bytecode
__pycache__/
*.py[cod]
*.so

# Conda environments
.env
.envexample
.conda/
*.conda
*.env
*.venv
venv/
env/
ENV/
*.egg-info/

# Logs
*.log

# Environment and dependency files
pip-log.txt
pip-delete-this-directory.txt

# Flask & secret config
instance/
*.sqlite3
*.db
*.pem
*.key
*.cfg
*.ini
*.bak

# Uploads / generated data
app/static/uploads/
!app/static/uploads/.gitkeep
data/
*.jpg
*.png
*.jpeg
*.gif

# Editor/IDE specific
.vscode/
.idea/
.DS_Store
Thumbs.db

# Static build artifacts (optional)
build/
dist/
*.egg
.eggs/

# Model artifacts
ml/classification/saved_models/
ml/detection/runs/
ml/detection/weights/
*.h5
*.pt
*.ckpt



